// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.left {
//  background-color: Red;
  float: left;
  width: 10%;
}
.right {
//  background-color: Aqua;
  margin-left: 10%;
}
.fit {
  max-width: 60%;
  max-height: 60%;
}
